<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FestivalBuy</title>
	<script>
 		window.location.href = "./front_page"
	</script>
</head>
<body>
	<h1>Welcome to FestivalBuy</h1>
	<p><a href="/shopping_cart">購物車</a></p>
	<p><a href="/front_page">首頁</a></p>
	<p><a href="/product_page">商品頁面</a></p>
	<p><a href="/logintest">登入</a></p>
	<p><a href="/registertest">註冊</a></p>
	<p><a href="/memberV2">會員專區</a></p>
</body>
</html>