table,
th,
td {
    border: 1px black solid;
    border-collapse: collapse;
}

div{
    min-width: 800px;
}

table{
    width: 800px;
}

th,
td{
    max-width: 120px;
}

td{
    min-width: 30px;
}

thead {
    background-color: coral;
}